<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Salud & Confianza{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medical Tracker</title>
    
    <style>
        html, body {
            height: 100%;
        }
        /* El contenedor principal debe ser un flexbox en columna y ocupar toda la altura */
        .site {
            display: flex;
            flex-direction: column;
            min-height: 100vh; /* Mínimo 100% de la altura de la ventana */
        }
        /* El contenido principal debe crecer para llenar el espacio disponible */
        .site-content {
            flex-grow: 1; 
        }
    </style>
</head>
<body>

    <main>
        <div class="container" style="padding: 50px 0;">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="container mt-2">
                    {% for category, message in messages %}
                <div class="notification is-{{ category }}">{{ message }}</div>
            {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
            
            {% block content %}{% endblock %}
        </div>
    </main>
    {% include "pie_pagina.html"%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
