{% extends 'base.html' %} 

{% block content %}
    {% include "barra_nav.html" %}
    
    <main class="site-content">
        <section id="inicio" class="hero-section">
            <div class="container">
                <h2>Hola! Bienvenido a Salud y Confianza</h2>
                <p>La página en la que podras Registrar tus datos medicos y encontrar consejos sobre el cuidado de tu salud.</p>
                
                <a href="{{ url_for('index') }}" class="button is-primary">Empezar Ahora</a>
                <button class="button is-warning ml-3" id="showQrButton">
                    <span class="icon"><i class="fas fa-qrcode"></i></span>
                    <span>Mi Código QR</span>
                </button>
            </div>
        </section>
        
        <section id="servicios" class="services-section">
            <div class="service-grid">
    
                <a href="{{ url_for('agregar_registro') }}" class="service-link">
                    <div class="service-item">
                        <img src="/static/jpg/6361827.png" alt="Icono de Búsqueda">
                        <h4>Registros Medicos</h4>
                        <p>Lugar donde podras registrar los datos y medidas medicas</p>
                    </div>
                </a>
                
                <a href="{{ url_for('historial') }}" class="service-link">
                    <div class="service-item">
                        <img src="/static/jpg/1787081.png" alt="Icono de Reseña">
                        <h4>Historial</h4>
                        <p>Donde puedes ver todos los datos que has almacenado</p>
                    </div>
                </a>
                
                <a href="{{ url_for('consejos') }}" class="service-link">
                    <div class="service-item">
                        <img src="/static/jpg/13102137.png" alt="Icono de Compartir">
                        <h4>Consejos</h4>
                        <p>Un monton de curiosidades y consejos para mejorar tu salud</p>
                    </div>
                </a>
                
            </div>
        </section>
    </main>

    <div class="modal" id="qrModal">
        <div class="modal-background"></div>
        <div class="modal-content" style="max-width: 380px;">
            <div class="box has-text-centered">
                <p class="title is-4">Código QR Personal</p>
                <p class="subtitle is-6">Escanea para compartir tu perfil.</p>
                
                <img src="{{ url_for('static', filename='./jpg/url_qrcodecreator.com_22_26_07.png') }}" 
                     alt="Código QR del Perfil" 
                     style="width: 100%; height: auto; max-width: 300px; margin: 20px auto;">
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const qrModal = document.getElementById('qrModal');
            const showQrButton = document.getElementById('showQrButton');
            
            const closeModals = () => {
                if (qrModal) {
                    qrModal.classList.remove('is-active');
                }
            }

            if (showQrButton && qrModal) {
                showQrButton.addEventListener('click', () => {
                    qrModal.classList.add('is-active');
                });
            }

            const modalBackground = qrModal ? qrModal.querySelector('.modal-background') : null;
            const modalCloseButton = qrModal ? qrModal.querySelector('.modal-close') : null;

            if (modalBackground) {
                modalBackground.addEventListener('click', closeModals);
            }

            if (modalCloseButton) {
                modalCloseButton.addEventListener('click', closeModals);
            }

            document.addEventListener('keydown', (event) => {
                if (event.key === "Escape") {
                    closeModals();
                }
            });
        });
    </script>

{% endblock %}